{% extends 'base.html' %}
{% load static %}

{% block title %}
C.V.
{% endblock title %}

{% block content %}





<!-- <div class="container">
    <div class="row">
        <div class="col-4"><img src="{% static 'images/tri.png' %}" alt=""></div>
        <div class="col-8">
            <h1>Tali Rozenman Ismael</h1>
            <h2>Industial Designer | Full-Stack Developer</h2>
        </div>
    </div>
</div> -->

<div class="clearfix">
    <img src="{% static 'images/tri.png' %}" id="tri" class="col-3 float-md-start ms-md-3" alt="...">
    <h1 class="mt-10" >Tali Rozenman Ismael</h1>
    <h2>Industial Designer | Full-Stack Developer</h2>
    <p>Tel Aviv | +972549112332 | rozenlady.t@gmail.com</p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/rozenlady/">Rozenlady</a> Github: <a href="https://github.com/rozenlady">Rozenlady</a>
    </p>
    
</div>



<div class="container">
    <div class="row">
      <div class="col-md-4 float-md-start mb-2 ms-md-3">
          <h2>In a few words... </h2>
      </div>
      <p>
        As part of my next professional step I see myself building a community and being part of an impactful business. I want to create or collaborate in meaningful projects that allow myself and others to thrive. My areas of interests are innovation within environmental conservancy, sustainability, education, and nutrition & food tech. I find these to be key for development and economic growth worldwide. 
      </p>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-4 float-md-start mb-2 ms-md-3">
          <h2>Skills</h2>
      </div>
      <ul>
          <li>Python, SQL, Flask, Django, JavaScript, HTML, CSS</li>
          <li>Fluent: English, Spanish; Intermediate: Portuguese Brazil; Intermediate:  Hebrew </li>
          <li>3D Design: Rhinosceros 3D, Solid Works, Inventor, SketchUp</li>
          <li>Graphic Design: InDesign, Photoshop, Illustrator;  Video: Adobe Premier</li> 
      </ul>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-4 float-md-start mb-2 ms-md-3">
          <h2>Technical Projects</h2>
      </div>
      <div class="container">
          <div class="row">
                <div class="col-sm-6">
                  <h3><a href="https://github.com/rozenlady/Tales-from-the-S.D.">TALES FROM THE S.D.</a></h3>
                        <ul>
                            <li>Website for Community Building Events.</li>
                            <li>JQuery for the calendar to set dates & send emails.</li>
                            <li>Responsive Design using HTML, CSS and JavaScript</li>
                            <li>Graphic Design: InDesign, Photoshop, Illustrator;  Video: Adobe Premier</li> 
                        </ul>
                </div>
                <div class="col-sm-6">
                <h3><a href="https://github.com/rozenlady/NoLedge">No Ledge</a></h3></h3>
                <ul>
                    <li>Search Engine in which only verified users can post</li>
                    <li>Created 3 models for different type of users</li>
                    <li>Used SQL database to organise selected data per user</li>
                </ul>
            </div>
        </div>  
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 float-md-start mb-2 ms-md-3">
            <h2>Education</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <p>Developers Institute Full Stack Web Development Bootcamp </p>
            </div>
            <div class="col-2">
                <p>Israel</p>
            </div>
            <div class="col-3">
                <p>2020-2021</p>
            </div>
        </div>

        
        <div class="row">
            <div class="col-7">
                <p>Universidad Veritas B.A. Industrial Design</p>
            </div>
            <div class="col-2">
                <p>Costa Rica</p>
            </div>
            <div class="col-3">
                <p>2012-2015</p>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <p>Daner Luna School of Fashion Patternmaking and Sewing Technique Diploma</p>
            </div>
            <div class="col-2">
                <p>Bolivia</p>
            </div>
            <div class="col-3">
                <p>2011</p>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <p>Instituto Tecnologico de Monterrey</p>
            </div>
            <div class="col-2">
                <p>Mexico</p>
            </div>
            <div class="col-3">
                <p>2010</p>
            </div>
        </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 float-md-start mt-2 mb-2 ms-md-3">
            <h2>Experience</h2>
        </div>
    </div> 

    <div class="row">
        <div class="container">
            <div class="row">
                <div class=" float-md mb-1 ms-md-1">
                    <h4>Freelancer</h4>
                    <p>Sep 2019 – Present</p>
                </div>
            </div>
            <div class="row">
                <h5>Eatsane by a1cfoods, Graphic Designer and Marketing, Israel & USA </h5>
            </div>
            <div class="row">
                <ul>
                    <li>Facebook Art, Bundles, Packaging, Labels, Videos Translations</li>

                </ul>
            </div>

            <div class="row">
                <h5>Energycenter, Graphic Designer, Bolivia</h5>
            </div>
            <div class="row">
                <ul>
                    <li>Facebook Art and Bundles</li>

                </ul>
            </div>


        </div>
    </div>
    

    <div class="row">
        <div class="container">
            <div class="row">
                <div class=" float-md-start mb-1 mt-2 ms-md-1">
                    <h4>Morazi</h4>
                    <p>Mar 2019 – Feb 2020</p>
                </div>
            </div>
            <div class="row">
                <ul>
                    <li>Created Facebook campaigns in English and Spanish</li>
                    <li>Proofread, edited and approved body of content for social media campaigns in English and Spanish.</li>
                    <li>Developed a strategy that optimized the creation, design and duplication of content that increased CTR</li>
                    <li>Created networks to collaborate with potential sources of content Created Facebook campaigns in English and Spanish</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="float-md-start mb-1 mt-2 ms-md-1">
                    <h4>The Poli House Brown Hotels, Guest Relations Manager, Tel Aviv</h4>
                    <p>Jul 2017 – April 2018</p>
                </div>
            </div>
            <div class="row">
                <ul>
                    <li>Hired, trained, and managed team members</li>
                    <li>Created a guest satisfaction flowchart based on the needs of guests, creating checklists for staff that improved guest experience</li>
                    <li>Developed a strategy that optimized the creation, design and duplication of content that increased CTR</li>
                    <li>Designed added value products for guest retention and satisfaction. These products increased use of the hotel’s facilities</li>
                    <li>Designed and created a Google Platform to help guests plan their own itineraries. </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="float-md-start mb-1 mt-2 ms-md-1">
                    <h4>Usbepower, Industrial Design Intern, Tel Aviv</h4>
                    <p>Jan – Jun 2017</p>
                </div>
            </div>
            <div class="row">
                <ul>
                    <li>Research and benchmarking R&D</li>
                    <li>Sketching and modeling: designed and tested ergonomic solutions to standardize the American version of the company’s product </li>
                    <li>Designed point of purchase (POP) materials, exhibition stands, store display furniture, catalogues, and postals.</li>
                </ul>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="float-md-start mb-1 mt-2 ms-md-1">
                    <h4>MADISA, Industrial Design, Santa Cruz, Bolivia</h4>
                    <p>Aug  2015 – Dec 2017</p>
                </div>
            </div>
            <div class="row">
                <ul>
                    <li>Benchmarked for food design and labels as part of the R&D team.</li>
                    <li>Packaging and label design </li>
                    <li>POP for multiple products: catalogues, banners, exhibition stands, events, Facebook arts, and more.</li>
                    <li>Content management of Facebook ads and labels</li>
                    <li>As part of this marketing team, I was in charge of rebranding a struggling product that wasn’t succeeding in the market due to ineffective labeling. After the relaunch of the product, sales increased by 600%.
                        Collaborated on the creation of the marketing structure for all product lines (Food and Confectionery, Energy and Lighting, Home Appliances, and Food Manufacturing), targeting both audiences B2B and B2C.</li>
                </ul>
            </div>
        </div>
    </div>

    
     
    










                                                      	           	   	 
    
    
    
     
    
    




</div>
        




{% endblock content %}