{% extends 'base.html' %}
{% load static %}
{% block title %}
Caparu
{% endblock title %}

{% block content %}
<!-- <div class="iconwrapper">
    <a href="https://www.facebook.com/rafi.reyesespinosa/">
    <i class="fab fa-facebook"></i>
  </a>
    <a href="https://www.instagram.com/tales.from.the.sexdungeon/">
    <i class="fab fa-instagram"></i>
  </a>
</div>
</nav>
</div>

Image cover background and headline ontop -->
<header class="header"> <img src="{% static 'images/caparu.jpg' %}" alt="">
</header>
<!-- <h1 class="cover">Caparu</h1> -->










{% endblock content %}