{% extends 'base.html' %}
{% load static %}
{% block title %}
don't be trashy!
{% endblock title %}

{% block content %}



<section class="center">
    <div class="container" margin="auto">
        <div class="col-12" class="row">
            <div justify-content="center">
                <h2>Don't Be Trashy</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!--manual navigation end-->

                <div class="slider">
                    <div class="slides">
                    <!--radio buttons start-->
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <!--radio buttons end-->
                    <!--slide images start-->
                    <div class="slide first">
                        <img src="{% static 'images/dbt/bioCo/1.png' %}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{% static 'images/dbt/bioCo/2.png' %}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{% static 'images/dbt/bioCo/3.png' %}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{% static 'images/dbt/bioCo/4.png' %}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{% static 'images/dbt/bioCo/5.png' %}" alt="">
                    </div>
      
                    <!--slide images end-->
                
                
                    <!--automatic navigation start-->
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                    <!--automatic navigation end-->
                    </div>
                    <!--manual navigation start-->
                    <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                    </div>
                
                <!--image slider end-->
            </div>
            
        </div>
    </div>

</section>



<script type="text/javascript">
var counter = 1;
setInterval(function(){
document.getElementById('radio' + counter).checked = true;
counter++;
if(counter > 5){
  counter = 1;
}
}, 2500);
</script>










{% endblock content %}